<h1 class="mt-4">Prontuário</h1>

<ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Atendimento</li>
</ol>
<div class="container">
      <form #prontuarioForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                  <div class="col-md-12">
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                              Sucesso!
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                              {{ erro }}
                        </div>
                  </div>
            </div>
            <div class="row" *ngIf="prontuario.id">
                  <div class="col-md-6">
                        <div class="form-group">
                              <label> ID: </label>
                              <input type="text" class="form-control" disabled="true" placeholder="Gerado ao Cadastrar"
                                    [ngModel]="prontuario.id" name="id" />
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                              <label> Data de Cadastro: </label>
                              <input type="text" class="form-control" disabled="true" placeholder="Gerado ao Cadastrar"
                                    [ngModel]="prontuario.dataCadastro" name="dataCadastro" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label for="inputPaciente"> Lista de Pacientes </label>
                              <select class="form-control" [ngModelOptions]="{standalone:true}"
                                    [(ngModel)]="prontuario.paciente.id" name="pacientes">
                                    <option value="">Selecione ...</option>
                                    <option *ngFor="let pacs of pacientes | async" [ngValue]="pacs?.id">
                                          {{pacs.paciente}}</option>
                              </select>
                        </div>
                  </div>
            </div>



            <div class="row d-flex justify-content-around">
                  <div class="form-group">
                        <label>Diabético? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="diabetico1" name="diabetico" class="custom-control-input"
                                    [(checked)]="!prontuario.diabetico">
                              <label class="custom-control-label" (click)="diabeticoFalse()"
                                    for="diabetico1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="diabetico2" name="diabetico" class="custom-control-input"
                                    [(checked)]="prontuario.diabetico">
                              <label class="custom-control-label" (click)="diabeticoTrue()" for="diabetico2">Sim</label>
                        </div>
                  </div>

                  <div class="form-group">
                        <label>Hipertenso? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="hipertenso1" name="hipertenso" class="custom-control-input"
                                    [(checked)]="!prontuario.hipertenso">
                              <label class="custom-control-label" (click)="hipertensoFalse()"
                                    for="hipertenso1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="hipertenso2" name="hipertenso" class="custom-control-input"
                                    [(checked)]="prontuario.hipertenso">
                              <label class="custom-control-label" (click)="hipertensoTrue()"
                                    for="hipertenso2">Sim</label>
                        </div>
                  </div>

                  <div class="form-group">
                        <label>Gestante? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="gestante1" name="gestante" class="custom-control-input"
                                    [(checked)]="!prontuario.gestante">
                              <label class="custom-control-label" (click)="gestanteFalse()" for="gestante1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="gestante2" name="gestante" class="custom-control-input"
                                    [(checked)]="prontuario.gestante">
                              <label class="custom-control-label" (click)="gestanteTrue()" for="gestante2">Sim</label>
                        </div>
                  </div>



                  <div class="form-group">
                        <label>Epilético? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="epiletico1" name="epiletico" class="custom-control-input"
                                    [(checked)]="!prontuario.epiletico">
                              <label class="custom-control-label" (click)="epileticoFalse()"
                                    for="epiletico1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="epiletico2" name="epiletico" class="custom-control-input"
                                    [(checked)]="prontuario.epiletico">
                              <label class="custom-control-label" (click)="epileticoTrue()" for="epiletico2">Sim</label>
                        </div>
                  </div>

                  <div class="form-group">
                        <label>Cardíaco? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="cardiaco1" name="cardiaco" class="custom-control-input"
                                    [(checked)]="!prontuario.cardiaco">
                              <label class="custom-control-label" (click)="cardiacoFalse()" for="cardiaco1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="cardiaco2" name="cardiaco" class="custom-control-input"
                                    [(checked)]="prontuario.cardiaco">
                              <label class="custom-control-label" (click)="cardiacoTrue()" for="cardiaco2">Sim</label>
                        </div>
                  </div>

                  <div class="form-group">
                        <label>Doença Transmissível? </label>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="dst1" name="dst" class="custom-control-input"
                                    [(checked)]="!prontuario.dst">
                              <label class="custom-control-label" (click)="dstFalse()" for="dst1">Não</label>
                        </div>
                        <div class="custom-control custom-radio">
                              <input type="radio" id="dst2" name="dst" class="custom-control-input"
                                    [(checked)]="prontuario.dst">
                              <label class="custom-control-label" (click)="dstTrue()" for="dst2">Sim</label>
                        </div>
                  </div>


            </div>
            <div class="row ">
                  <div class="col-md-12" >
                        <div class="form-group" >
                              <label class="row d-flex justify-content-around">Dentes que possuem anotações:</label>
                              <div class="row d-flex justify-content-around" *ngFor=" let dts of prontuario.dentes">
                                  
                                         
                                                <label *ngIf="dts != null"> {{ dts }} - Dente {{ 1+1 }}</label>
                                
                               
                              </div>
                              <label class="row d-flex justify-content-around">Selecione o dente no Odontograma</label>
                        </div>
                  </div>
            </div>
            <div class=" container-fluid">
                  <table class="com-md-12 center">
                        <tbody>
                              <tr>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(7)">
                                                {{ denteNumeral[7] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(6 )">
                                                {{ denteNumeral[6] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(5 )">
                                                {{ denteNumeral[5] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(4 )">
                                                {{ denteNumeral[4] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(3 )">
                                                {{denteNumeral[3] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(2 )">
                                                {{ denteNumeral[2] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(1)">
                                                {{ denteNumeral[1] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(0)">
                                                {{ denteNumeral[0] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(8)">
                                                {{ denteNumeral[8] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(9)">
                                                {{ denteNumeral[9] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(10 )">
                                                {{ denteNumeral[10] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(11)">
                                                {{ denteNumeral[11] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(12)">
                                                {{ denteNumeral[12] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(13)">
                                                {{ denteNumeral[13] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(14 )">
                                                {{ denteNumeral[14] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(15)">
                                                {{ denteNumeral[15] }}</button></td>
                              </tr>
                              <tr>
                                    <td colspan="16"> <img [src]=myimg class="img-fluid img-thumbnail mr-4"></td>

                              </tr>
                              <tr>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(31)">
                                                {{ denteNumeral[31] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(30)">
                                                {{ denteNumeral[30] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(29)">
                                                {{ denteNumeral[29] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(28)">
                                                {{ denteNumeral[28] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(27)">
                                                {{ denteNumeral[27] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(26)">
                                                {{ denteNumeral[26] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(25)">
                                                {{ denteNumeral[25] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(24)">
                                                {{ denteNumeral[24] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(16)">
                                                {{ denteNumeral[16] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(17)">
                                                {{ denteNumeral[17] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(18 )">
                                                {{ denteNumeral[18] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(19)">
                                                {{ denteNumeral[19] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(20)">
                                                {{ denteNumeral[20] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(21)">
                                                {{ denteNumeral[21] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(22)">
                                                {{ denteNumeral[22] }}</button></td>
                                    <td><button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModal" (click)="preparaAnotacao(23)">
                                                {{ denteNumeral[23] }}</button></td>
                              </tr>
                        </tbody>
                  </table>

            </div>
            <br>
           
            <br>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label> Observações Gerais: </label>
                              <textarea type="text" class="form-control" name="observacao"
                                    [(ngModel)]="prontuario.observacao"></textarea>
                        </div>
                  </div>
            </div>
            <br>



            <div class="border border-dark rounded" style="padding: 10px; margin-bottom: 15px;">
                  <div class="d-flex justify-content-center">

                        <h4 class="form-group mr-4 ">Atendimento Realizado: </h4>

                  </div>
                  <p class="d-flex justify-content-center"> Lance o serviço que foi realizado e o valor que deve ser
                        cobrado do cliente:</p>
                  <div class="form-group d-flex justify-content-around">
                        <label>Serviço realizado : </label>
                        <textarea type="text" class="form-control" [(ngModel)]="finan.descricao" name="descricao"></textarea>

                        <label for="inputReq "> Valor R$:</label>
                        <input id="valorServico" type="text" class="form-control col-md-3" name="valorServico"
                              [(ngModel)]="valorServico" (keyup)="onKeyUp($event)">

                  </div>
                  <div class=" d-flex justify-content-center">
                        <button type="button" (click)="enviarParaFinanceiro()" class="btn btn-success">
                              <i class="fa fa-money-check-alt"></i> Enviar ao Financiero
                        </button>
                  </div>
            </div>
            <div class="d-flex justify-content-center">
                  <div class="col-md-2">
                        <button type="submit" class="btn btn-success">
                              <i class="fa fa-save"></i> Salvar
                        </button>
                  </div>
            </div>

            <br>
            <div class="row">
                  <div class="col-md-12">
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                              {{ sucessoAtend}}!
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                              {{ erroAtend }}
                        </div>
                  </div>
            </div>

            <div class="row">
                  <div class="col-md-12">
                      <table class="table table-striped table-hover">
                          <thead class="thead-dark">
                              <tr>
                                  <th (click)="sort('id')">#<span *ngIf="key =='id'"> {{ reverse ? '▲' : '▼' }} </span></th>
                                  <th (click)="sort('atendimento')">Atendimento<span *ngIf="key =='atendimento'"> {{ reverse ? '▲' : '▼' }} </span></th>
                                  <th (click)="sort('dataAtendimento')">Data de Atendimento<span *ngIf="key =='dataAtendimento'"> {{ reverse ? '▲' : '▼' }} </span></th>
                                  <th>Editar</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let atend of atendimento | orderBy: key : reverse; let i = index ">
                                  <td>{{ atend.id}}</td>
                                  <td>{{ atend.atendimento}}</td>
                                  <td>{{ atend.dataAtendimento }}</td>
                                  <td> <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <button class="btn btn-danger" (click)="delecaoAtendimento(atend)"
                                      data-toggle="modal" data-target="#modalDelecao"><i class="fa fa-trash"></i></button></div>
                                  </td>
          
                              </tr>
                          
                          </tbody>
                      </table>
                  </div>
              </div>

          
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                        <div class="modal-content">
                              <div class="modal-header" *ngIf="denteSelect">
                                    <h5 class="modal-title" id="exampleModalLabel">O que deseja anotar sobre o dente
                                          {{denteNumeral[denteSelect]}}?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body" *ngIf="denteSelect">
                                    <label> Observações: </label>
                                    <textarea type="text" class="form-control"
                                          [(ngModel)]="prontuario.dentes[denteSelect]" name="dentes[]"></textarea>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal" (click)="limparCampo(denteSelect)">Cancelar</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                              </div>
                        </div>
                  </div>
            </div>

      </form>
</div>