<h1 class="mt-4">Pacientes</h1>

<ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
      <form #pacienteForm="ngForm" (ngSubmit)="onSubmit()">
            <br>
            <div class="row">
                  <div class="col-md-12">
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                              Paciente salvo(a) com sucesso!
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                              {{ erro }}
                        </div>
                  </div>
            </div>
            <div class="row" *ngIf="paciente.id">
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>ID: </label>
                              <input type="text" class="form-control" disabled="true"
                              [ngModel]="paciente.id" name="id"/>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>Data de Cadastro: </label>
                              <input type="text" class="form-control" disabled="true"
                              [ngModel]="paciente.dataCadastro" name="dataCadastro" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label>Nome Completo: </label>
                              <input type="text" class="form-control" 
                              [(ngModel)]="paciente.paciente" name="paciente"/>
                        </div>

                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label>Endereço: </label>
                              <input type="text" class="form-control"
                              [(ngModel)]="paciente.endereco" name="endereco" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label>CPF: </label>
                              <input type="text" class="form-control" 
                              [(ngModel)]="paciente.cpf" name="cpf"  mask="000.000.000-00"  />
                        </div>
                  </div>
                  
            </div>
            <div class="row">
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>Data de Nascimento: </label>
                              <input type="date" class="form-control"
                              [(ngModel)]="paciente.dataNascimento" name="dataNascimento" />
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>Telefone: </label>
                              <input type="text" class="form-control"
                              [(ngModel)]="paciente.telefone" name="telefone"
                              mask="(00) 0 0000-0000" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-2">
                        <button type="submit" class="btn btn-success" *ngIf="!paciente.id">
                              <i class="fa fa-save"></i>  Salvar
                        </button>
                        <button type="submit" class="btn btn-success" *ngIf="paciente.id" >
                              <i class="fa fa-save"></i> Atualizar
                        </button>
                  </div>
                  <div class="col-md-2">
                        <button type="button" class="btn btn-danger" (click)="voltar()">
                              <i class="fa fa-chevron-left">  </i>    Voltar
                        </button>
                  </div>
            </div>
      </form>
</div>