<h1 class="mt-4">Financeiro</h1>

<ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
      <form>
            <div class="row">
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>ID: </label>
                              <input type="text" class="form-control" disabled="true"/>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>Data do Lançamento: </label>
                              <input type="text" class="form-control" disabled="true" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label>Nome Completo: </label>
                              <input type="text" class="form-control" disabled="true"/>
                        </div>

                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label>Serviço Realizado: </label>
                              <input type="text" class="form-control" disabled="true"/>
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group">
                              <label> Valor: </label>
                              <input type="text" class="form-control" disabled="true"/>
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group">
                              <label> Forma de Pagamento</label>
                              <select class="form-control" name="pacientes">
                                    <option value="1">Selecione ...</option>
                                    <option value="2">Dinheiro</option>
                                    <option value="3">Cartão de Crédito</option>
                                    <option value="4">Cartão de Débito</option>
                                    <option value="4">Pagamento via PIX</option>
                                    <option value="4">Pagamento via Transferência</option>
                              </select>
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group">
                              <label> Dividido em: </label>
                              <select class="form-control" name="pacientes">
                              <option value="1">Selecione ...</option>
                              <option value="2">1 X</option>
                              <option value="3">2 X</option>
                              <option value="4">3 X</option>
                              <option value="5">4 X</option>
                              <option value="6">5 X</option>
                              <option value="7">6 X</option>
                              <option value="8">7 X</option>
                              <option value="9">8 X</option>
                              <option value="10">9 X</option>
                              <option value="11">10 X</option>
                        </select>

                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-2">
                        <button type="submit" class="btn btn-success">
                              <i class="fa fa-save"></i>  Salvar
                        </button>
                  </div>
            </div>
      </form>
</div>