<h1 class="mt-4">Lista de Prontuários</h1>
     <ol class="breadcrumb mb-4">
         <li class="breadcrumb-item active">Listagem</li>

     </ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
              <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
              </div>
        </div>
        <div class="col-md-12">
              <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
              </div>
        </div>
  </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th (click)="sort('id')">#<span *ngIf="key =='id'"> {{ reverse ? '▲' : '▼' }} </span></th>
                        <th (click)="sort('paciente')">Paciente<span *ngIf="key =='paciente'"> {{ reverse ? '▲' : '▼' }} </span></th>
                        <th (click)="sort('cpf')">CPF<span *ngIf="key =='cpf'"> {{ reverse ? '▲' : '▼' }} </span></th>
                        <th (click)="sort('dataNascimento')">Data de Nascimento<span *ngIf="key =='dataNascimento'"> {{ reverse ? '▲' : '▼' }} </span></th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pront of prontuario | orderBy: key : reverse; let i = index ">
                        <td>{{ pront.id}}</td>
                        <td>{{ pront.paciente.paciente}}</td>
                        <td>{{ pront.paciente.cpf }}</td>
                        <td>{{ pront.paciente.dataNascimento }}</td>
                        <td> <div class="btn-group btn-group-sm" role="group" aria-label="...">
                              <button class="btn btn-primary" routerLink="/prontuario-form/{{ pront.id }}"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-danger" (click)="preparaDelecao(pront)"
                            data-toggle="modal" data-target="#modalDelecao"><i class="fa fa-trash"></i></button></div>
                        </td>

                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="prontuarioSelect">
                    <h6>Deseja deletar o Prontuário do {{ prontuarioSelect.paciente.paciente }} ? <br>
                        AVISO: Caso confirme, será deletado todos os processos subsequentes ligados a este paciente (Atestados e Receituários e Financeiros)</h6>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"(click)="deletarProntuario()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-primary ml-1" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>