<h1 class="mt-4">Receituário</h1>

<ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Médico</li>
</ol>
<div class="container">
      <form #receituarioForm="ngForm" (ngSubmit)="onSubmit()">
            
            <div class="row">
                 
                  <div class="col-md-12">
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                              Requisição salva com sucesso!
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                              {{ erro }}
                        </div>
                  </div>
            </div>
            <div class="row" *ngIf="receituario.id">
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>ID: </label>
                              <input type="text" class="form-control" disabled="true" [ngModel]="receituario.id"
                                    name="id" />
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="form-group">
                              <label>Data de Cadastro: </label>
                              <input type="text" class="form-control" disabled="true"
                                    [ngModel]="receituario.dataCadastro" name="dataCadastro" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label for="inputPaciente"> Lista de Pacientes </label>
                              <select class="form-control" [ngModelOptions]="{standalone:true}"
                                    [(ngModel)]="receituario.prontuario.id" name="pacientes">
                                    <option value="">Selecione ...</option>
                                    <option *ngFor="let pronts of prontuarios | async" [ngValue]="pronts?.id">
                                          {{ pronts.paciente.paciente }}</option>
                              </select>
                        </div>
                  </div>
            </div>
            <div class="border border-dark rounded" style="padding: 10px; margin-bottom: 15px;">
                  <div class="d-flex justify-content-center">
                        <h4 class="form-group mr-4 ">Receituário </h4>
                        
                  </div>
                  <div *ngFor="let meds of receituario.medicamento">
                        <div class="row">
                              <div class="col-md-12">
                                    <div>
                                          <label>Medicamento:</label>
                                          <input type="text" [(ngModel)]="meds.medicamento" name="medicamento"
                                                 placeholder="Ex.: Dipirona 500mg/ml" class="form-control" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                    <div>
                                          <label>Horas: </label>
                                          <input type="time" [(ngModel)]="meds.horas" name="horas" class="form-control" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                    <div>
                                          <label>Dias:</label>
                                          <input type="number" [(ngModel)]="meds.dias" name="dias"  class="form-control" [ngModelOptions]="{standalone: true}"/>
                                    </div>
                              </div>
                              <div class="ml-3 btn-group-sm mt-3">
                                    <button type="button" class="btn btn-success" (click)="addmed()">
                                          <i class="fa fa-plus"> </i> 
                                    </button>
                              </div>
                              <div class="ml-2 btn-group-sm mt-3">
                                    <button type="button" class="btn btn-danger" (click)="remove()">
                                          <i class="fa fa-minus"> </i> 
                                    </button>
                              </div>
                        </div>
                  </div> 
            </div>

            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group">
                              <label for="inputPaciente">Dentista: </label>
                              <select class="form-control" name="pacientes">
                                    <option value="1">Selecione ...</option>
                                    <option value="2"> PEGAR AUTOMATICO DO DOUTOR LOGADO </option>
                              </select>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-2">
                        <button class="btn btn-success" type="submit" *ngIf="!receituario.id"
                              ><i class="fa fa-save"></i>Salvar</button>

                        <button class="btn btn-success" type="submit" *ngIf="receituario.id"
                        ><i class="fa fa-save"></i>Atualizar</button>
                  </div>
                  <div class="col-md-2">
                        <button type="button" class="btn btn-danger" (click)="voltar()">
                              <i class="fa fa-chevron-left"> </i> Voltar
                        </button>
                  </div>
                 
            </div>
            <div class="float-right" *ngIf="receituario.id">
                  <button type="button" (click)="gerarpdf()" class="btn btn-warning">
                        <i class="fa fa-print"> </i> Imprimir
                  </button>
            </div>
      </form>
      
</div>

