<h1 class="mt-4">Agendamento</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Agenda</li>
</ol>
<div>

  <form #marcacaoForm="ngForm"
    style="position: absolute;height: 70%;width: 50%; margin-left: 20%;margin-right: 20%; z-index: 99999; padding: 10px; background-color: white;"
    *ngIf="openModal == true">
    <h1 class="mt-4">Cadastro de Marcação</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">Marcação</li>
    </ol>
    <br>
    <div class="row">
     
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Marcacao salva com sucesso!
        </div>
      </div>
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="inputPaciente"> Busque o Paciente para agendamento</label>
          <input list="teste" type="text" class="form-control col-md-12" [(ngModel)]="marcacao.paciente.paciente"
            (keyup)="buscarPaciente($event)" name="id" placeholder="Buscar Paciente ..." autocomplete="off" />
          <datalist id="teste">
            <option *ngFor="let pacs of pacientes" [ngValue]="pacs?.id" autocomplete="off">
              {{selectPaciente(pacs.id)}} {{pacs.paciente}} </option>
          </datalist>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="inputPaciente"> Busque o Doutor para agendamento</label>
          <input list="teste1" type="text" class="form-control col-md-12" [(ngModel)]="marcacao.usuario.nome"
            (keyup)="buscarDoutor($event)" name="id" placeholder="Buscar Doutor ..." autocomplete="off" />
          <datalist id="teste1">
            <option *ngFor="let docs of usuarios" [ngValue]="docs?.id" autocomplete="off">
              {{selectDoutor(docs.id)}} {{docs.nome}} </option>
          </datalist>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success" (click)="cadastrarMarcacao()" *ngIf="!marcacao.id">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="submit" class="btn btn-success" (click)="atualizarMarcacao()" *ngIf="marcacao.id">
          <i class="fa fa-save"></i> Atualizar
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger" (click)="voltar()">
          <i class="fa fa-chevron-left"> </i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">

    <div class="navigator col-md-3">
      <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDate($event)"
        #navigator></daypilot-navigator>
    </div>
    <div class="content col-md-9">
      <div class="btn-group btn-group-sm mb-1">
        <button class="btn btn-primary" (click)="viewDay()"
          [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''">Dia</button>
        <button class="btn btn-primary" (click)="viewWeek()"
          [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Semana</button>
        <button class="btn btn-primary" (click)="viewMonth()"
          [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''">Mês</button>
      </div>

      <daypilot-calendar [config]="configDay" [events]="events" #day></daypilot-calendar>
      <daypilot-calendar [config]="configWeek" [events]="events" #week></daypilot-calendar>
      <daypilot-month [config]="configMonth" [events]="events" #month></daypilot-month>
    </div>
  </div>

</div>