<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav flex-column" role="tablist">
                    <a class="nav-link" routerLink="/home">
                        <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                        IMS - Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Principai Serviços</div>

                    <a class="nav-link collapsed" routerLink="/#1" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                        Pacientes
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>

                    <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/pacientes/form">Cadastrar Pacientes</a>
                            <a class="nav-link" routerLink="/pacientes/lista">Listar Pacientes</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" routerLink="/agendamento/agenda" >
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                        Agendamento
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div *ngIf="role != 'SECRETARIA' ">
                        <a class="nav-item nav-link collapsed" routerLink="/#4" data-toggle="collapse"
                            data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            Prontuário
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="/prontuario/form">Atendimento</a>
                                <a class="nav-link" routerLink="/prontuario/lista">Lista de Atendimentos</a>
                            </nav>
                        </div>

                        <a class="nav-item nav-link collapsed" routerLink="/#7" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-file-medical"></i>
                            </div>
                            Atestado Médico
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="/atestado/form">Atestado Médico</a>
                                <a class="nav-link" routerLink="/atestado/lista">Listar Atestados</a>
                            </nav>
                        </div>

                        <a class="nav-item nav-link collapsed" routerLink="/#9" data-toggle="collapse"
                            data-target="#collapseTree" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-medical"></i>
                            </div>
                            Receituário
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseTree" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="/receituario/form">Receituário</a>
                                <a class="nav-link" routerLink="/receituario/lista">Listar Receituários Emitidos</a>
                            </nav>
                        </div>
                    </div>
                    <div *ngIf="role != 'DENTISTA' ">
                        <div class="sb-sidenav-menu-heading">Livro Caixa</div>

                        <a class="nav-item nav-link collapsed" routerLink="/#13" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-money-check-alt"></i>
                            </div>
                            Financeiro
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="/financeiro/lista">Listar Recebimentos</a>
                            </nav>
                        </div>
                    </div>
                    <div *ngIf="role == 'ADMINISTRADOR'">
                        <div class="sb-sidenav-menu-heading">Colaboradores</div>

                        <a class="nav-item nav-link collapsed" routerLink="/#11" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-money-check-alt"></i>
                            </div>
                            Usuários
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">

                                <a class="nav-link" routerLink="/cadastro/form">Cadastro</a>
                                <a class="nav-link" routerLink="/cadastro/lista">Administração</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small float-none">Usuário Logado: </div>
                {{ usuarioLogado }}
                <a class="ml-4" href="#" (click)="logout()"> <i
                        class="fas fa-sign-out-alt float-rigth ml-4 mr-4 "></i></a>
            </div>
        </nav>
    </div>